<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatter</title>
    <link rel="stylesheet" type="text/css" href="./account.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Chatter</h2>
            <a href="/dashboard">Dashboard</a>
        </div>
        <div class="center">
            <h2>Account Setting</h2>
            <div class="space">
                <a href="/chPassword">Change Password</a>
                <a href="/chName">Change Name</a>
                <a href="/chUsername">Change Username</a>
            </div>
        </div>
    </div>
</body>
</html>