<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatter</title>
    <link rel="stylesheet" type="text/css" href="./chPassword.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Chatter</h2>
            <a href="/account">Account</a>
        </div>
        <div class="center">
            <h2>Account Setting</h2>
            <form method="POST" action="/chPassword" onsubmit="return validateForm()">
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="currentPassword" required>
                <br>
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" required>
                <br>
                <label for="confirmPassword">Confirm New Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <br>
                <input type="submit" value="Save Changes">
            </form>
        </div>
    </div>
</body>
</html>