<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatter</title>
    <link rel="stylesheet" type="text/css" href="./dashboard.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Chatter</h2>
            <a href="/profile">Profile</a>
            <a href="/account">Account</a>
            <a href="/chat">Chat</a>
            <button onclick="location.href='/logout';">Logout</button>
        </div>
        <div class="center">
            <h2>Dashboard</h2>
        </div>
    </div>
</body>
</html>