<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatter</title>
    <link rel="stylesheet" type="text/css" href="./signup.css">
</head>
<body>
    <div class="wrapper">
        <div class="center">
            <h2>Sign up</h2>
            <form action="/signup" method="post">
                <p>Provide your name:</p><br />
                <input type="text" name="name" autocomplete="off" placeholder="Name" />
                <p>Provide username:</p><br />
                <input type="text" name="username" autocomplete="off" placeholder="Username" />
                <p>Provide password:</p><br />
                <input type="password" name="password" placeholder="Password" /><br /><br />
                <input type="submit" />
            </form>
            <br />
            <a href="/" class="button0">Go back</a>
        </div>
    </div>
</body>
</html>